*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    background-color: black;
    width: 100%;
   
}



.about{
   
    width: 100%;
    height: 20vh;
    
}

h1{
    width: 100%;
    font-size: 60pt;
    font-weight: bold;
    color: bisque;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.para1{
    font-size: 15pt;
    height: 50vh;
    width: 40%;
    display: flex;
    justify-self: center;
    align-items: center;
    text-align: center;
}

.Main_Content{
    width: 100%;
    height: 600px;
    display: flex;
    padding: 10px;
    margin-left: 100px;
    color: bisque;
}


.contain{
    width: 100%;
    height: 30%;
    color: white;
    margin-top: 50px;
}

.emoji:hover{
    color: bisque;
    margin-top: 50px;
}

    i{
        font-size: 50px;
    }

.headingtwo{
    color: bisque;
}    

.img{
     margin-left: 100px;
    width: 40%;
    height: 100%;
}

.img:hover{
    transform: scale(1.1) rotate(5deg);
    transition: all 1s ease;
}



.info_section {
    background-color: #0f1521;
    color: bisque;
    margin-top: 80px;
  }
  
  .info_section .info_logo {
    width: 80%;
    margin: 0 auto 45px auto;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid #ffffff;
  }
  
  .info_section .info_logo h2 {
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .info_section h5 {
    margin-bottom: 25px;
    font-size: 24px;
  }
  
  .info_section .info_insta .insta_container img {
    height: 45px;
  }
  
  .info_section .info_insta .insta_container .insta-box {
    margin: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #ffffff;
    padding: 15px;
  }
  
  .info_section .info_contact .img-box {
    width: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .info_section .info_contact p {
    margin: 0;
  }
  
  .info_section .info_contact > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 20px 0;
  }
  
  .info_section .info_contact > div img {
    height: auto;
    margin-right: 12px;
  }
  
  .info_section .info_form form input {
    outline: none;
    width: 100%;
    padding: 7px 10px;
  }
  
  .info_section .info_form form button {
    display: inline-block;
    padding: 8px 30px;
    background-color: #8019c8;
    color: #ffffff;
    border-radius: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: none;
    margin-top: 15px;
    text-transform: uppercase;
    font-size: 15px;
  }
  
  .info_section .info_form form button:hover {
    background-color: #541184;
  }
  
  .info_section .info_form .social_box {
    margin-top: 35px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .info_section .info_form .social_box a {
    margin-right: 25px;
  }
  
  .footer_section {
    position: relative;
    background-color: bisque;
    text-align: center;
  }
  
  .footer_section p {
    color: #000000;
    padding: 25px 0;
    margin: 0;
  }
  
  .footer_section p a {
    color: inherit;
  }
  